# SUYASH PRATAP SINGH


# Registration ID: GO_STP_6412

# Q.1 Write a Python Program to sort (ascending and descending) a dictionary by value.

In [1]:
a = {1:2 ,2:1 ,4:3 ,3:4 ,6:5 ,5:6 }
#this will print a sorted list of the keys
print(sorted(a.values()))
#this will print the sorted list with items.
print(sorted(a.items()))

[1, 2, 3, 4, 5, 6]
[(1, 2), (2, 1), (3, 4), (4, 3), (5, 6), (6, 5)]

# Q.2 Write a Python Program to add a key to a dictionary.

In [2]:
d = {0:10, 1:20}
print(d)
d.update({2:30})
print(d)

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

# Q.3 Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the Temperature of that City.

In [3]:
name,temp = input("enter city name and temperature and enter 0 0 for discontinuing").split()
t = {}
t.update({name:int(temp)})
while name and int(temp):
  name,temp = input("enter city name and temperature").split()
  t.update({name:int(temp)})

enter city name and temperature and enter 0 0 for discontinuinglucknow  32
enter city name and temperaturesuy 31
enter city name and temperaturemp 35
enter city name and temperature0 0

In [5]:
name = input("enter city name")
print(t[name])

enter city namelucknow
32

# Q. 4 Write a Python program to convert list to list of dictionaries.

In [6]:
test_list = ["Gfg", 3, "is", 8, "Best", 10, "for", 18, "Geeks", 33]
print("The original list : " + str(test_list))

key_list = ["name", "number"]
  
n = len(test_list)
res = []
for idx in range(0, n, 2):
    res.append({key_list[0]: test_list[idx], key_list[1] : test_list[idx + 1]})

print("The constructed dictionary list : " + str(res))

The original list : ['Gfg', 3, 'is', 8, 'Best', 10, 'for', 18, 'Geeks', 33]
The constructed dictionary list : [{'name': 'Gfg', 'number': 3}, {'name': 'is', 'number': 8}, {'name': 'Best', 'number': 10}, {'name': 'for', 'number': 18}, {'name': 'Geeks', 'number': 33}]

# Q. 5 We have following information on Employees and their Salary (Salary is in lakhs),

Employee |	Salary

John	   | 14

Smith	   | 13

Alice	   | 32

Daneil	 | 21

Using above create a dictionary of Employees and their Salary

Write a program that asks user for three type of inputs,

print: if user enter print then it should print all Employees with their Salary in this format,
John ==>14
Smith ==>13
Alice ==>32
 Daneil ==>21

add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it

remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist!

query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee.

In [10]:
vin = ['John','Smith','Alice','Daniel']
kp = [14, 13, 32, 21]
Dict = dict(zip(vin, kp))
print(Dict)

{'John': 14, 'Smith': 13, 'Alice': 32, 'Daniel': 21}

In [13]:
vin = ['John','Smith','Alice','Daniel']
kp = [14, 13, 32, 21]

inp= input("Enter your choice : print or add or remove or query: ")
if inp == 'print':
    Dict = dict(zip(vin, kp))
    for a in Dict:
        print(a,"==>",Dict[f"{a}"])
elif inp =='add':
    emp= input("Enter the name of the Employee to be added: ")
    if emp.title() in Dict.keys():
        print(f"{emp} name is already existing!")
    else:
        salr = input(f"Enter the salary of the {emp} ")
        Dict.update({emp : salr})
        print(Dict)
elif inp == 'remove':
    name = input("Enter the name of the employee to be removed? ")
    if name in Dict:
        Dict.pop(name)
        print(Dict)
    else:
        print(f"Sorry!!, {name} doesn't exist in the data!")
elif inp == 'query':
    emp= input("Enter the name of the employee you want to query: ").title()
    if emp in Dict.keys():
        print(f"The salary of {emp} is {Dict[emp]}")
    else:
        print(f"The employee named {emp} doesn't exist!!")
else:
    print("Enter a valid choice")

Enter your choice : print or add or remove or query: remove
Enter the name of the employee to be removed? Alice
{'John': 14, 'Smith': 13, 'Daniel': 21}

# Questions on Sets-

# Q.1 What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname).

Frozen set is just an immutable version of a Python set object. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation. Due to this, frozen sets can be used as keys in Dictionary or as elements of another set.

In [7]:
setname = (1, 2, 3, 4, 5, 6, 7, 8, 9)

fnum = frozenset(setname)
print("frozenset Object is : ", fnum)

frozenset Object is :  frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

# Q.2 Find the elements in a given set that are not in another set

    set1 = {10,20,30,40,50}

    set2 = {40,50,60,70,80}

 Difference between set1 and set2 is {10,20,30}

In [8]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}
print("Original sets:")
print(set1)
print(set2)
print("Difference of set1 and set2 using difference():")
print(set1.difference(set2))

Original sets:
{40, 10, 50, 20, 30}
{70, 40, 80, 50, 60}
Difference of set1 and set2 using difference():
{10, 20, 30}

# THANK YOU